

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html,body{
height: 100%;
width: 100%;
}

#nav{
    padding: 0.5vw 5vw;
    display: flex;
    align-items: center;justify-content: space-between;
}

#nav .nav-text{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.nav-text input{
    cursor: pointer;
    padding: 0.5vw 1vw;
    outline-color: aquamarine;
    border-radius: 1vw;
}

.nav-text button{
    cursor: pointer;
    padding: 0.5vw 1vw;
    border-radius: 0.3vw;
}

.nav-text button:hover{
    background-color: rgba(128, 128, 128, 0.549);
    transition: 0.4s;
    border: 1px solid #000;
}

#nav .nav-text:nth-child(1){
    gap: 5vw;
}

.nav-content a{
    text-decoration: none;
    margin: 0.5vw;
    font-size: 1.3vw;
    color: #000;
}

.nav-content a:hover{
    color: lightblue;
    transition: 0.3s;
}

.nav-img h6{
    text-align: center;
    color: lightcoral;
}

.nav-text img{
    height: 10vh;
    width: 5vw;
    border-radius: 50%;
    border: 1px solid gray;
    padding: 0.2vw;
    object-fit: cover;
    filter: grayscale(100);
}

.nav-text img:hover{
    filter: grayscale(0);
    scale: 1.1;
    transition: 0.3s;
}

.underline{
    height: 2px;
    /* width: 100%; */
    background-color: gray;
    margin: 1vw 2vw;
}

#page1{
    min-height: 100vh;
    margin: 0vw 10vw;
}

#container1{
    height: 50vh;
    width: 80%;
    margin-top: 10vh;
    display: flex;
    overflow: hidden;
    border: 2px solid #000;
    border-radius: 5.5vw;
    border-top: none;
    border-left: none;
    cursor: auto;
}

#container1 .container1-text{
    width: 50%;
    margin-top: 12vh;
    margin-left: 3vw;
}

.container1-text h1{
    font-size: 4.5vw;
    text-transform: capitalize;
}

.container1-text h3{
    font-size: 1.5vw;
    text-transform: capitalize;
}

#container1 #container1-img{
    width: 50%;
    overflow: hidden;
    border-radius: 5vw;
}

#container1-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#container2{
    height: 50vh;
    width: 80%;
    margin-left: 20%;
    margin-top: 10vh;
    display: flex;
    overflow: hidden;
    border: 2px solid #000;
    border-radius: 5.5vw;
    border-top: none;
    border-right: none;
    cursor: auto;
}

#container2 .container2-text{
    width: 50%;
    margin: 15vh 0 1vh 5vh;
}

.container2-text h2{
    text-transform: capitalize;
    font-size: 1.5vw;
}

.container2-text p{
    margin: 1vw 4vw 0 0;
    font-size: 1.1vw;
}

#container2 .container2-img{
    width: 50%;
}

.container2-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#page2{
    min-height: 100vh;
    margin: 10vh 10vw;
}

#page2 .first-content{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.first-content::after{
    content: "";
    background-image: url(https://static.vecteezy.com/system/resources/previews/005/022/141/non_2x/overhead-shot-of-man-working-on-laptop-flat-lay-top-view-office-table-home-learning-hand-typing-on-laptop-free-vector.jpg);
    background-size: cover;
    background-position: center;
    height: inherit;
    width: 100%;
    position: absolute;
    opacity: 0.15;
}

.left-content{
    width: 75%;
}

.left-content h2{
    margin: 1vw 0;
    padding: 1vw 2vw;
}

.left-content p{
    font-size: 1vw;
    line-height: 1.5vw;
    padding: 1vw 2vw;
}

.right-content{
    width: 22%;
    height: 90%;
    border-radius: 50%;
    border: 2px solid #000;
    overflow: hidden;
}

.right-content img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.underline1{
    height: 2px;
    margin: 1vw 0;
    background-color: rgba(128, 128, 128, 0.519);
}

.home-articles{
    min-height: 100vh;
    width: 100%;
    background-color: rgba(237, 180, 190, 0.237);
    position: relative;
}

.home-articles h2{
    margin: 0vw 4vw;
    padding: 2vw 0.5vw;
    width: fit-content;
}

.home-article{
    display: flex;
    align-items: center;
    gap: 1.5vw;
    margin: 1vw 10vw;
    height: 35vh;
}

.home-article img{
    height: 30vh;
    width: 17vw;
    border-radius: 0.5vw;
    object-fit: cover;
}

.home-article h3{
    font-size: 1.7vw;
    text-transform: capitalize;
}

.home-article h4{
    font-size: 1.2vw;
    text-transform: capitalize;
    margin: 1vw 0vw;
}

.home-article h6{
    font-size: 1vw;
    font-weight: 400;
    margin: 1vw 0vw;
}

.article-content a{
    color: black;
    text-decoration: none;
}

.article-content a:hover{
    color: rgba(0, 0, 255, 0.681);
    transition: 0.1s;
}

footer{
    margin: 5vw 20vw;
    min-height: 30vh;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5vw 4vw;
    border: 2px solid gray;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}

.footer-text h2{
    font-size: 1.5vw;
    font-weight: 500;
    font-style: italic;
}

.footer-icon{
    display: flex;
    gap: 1vw;
}

.footer-icon i{
    font-size: 2vw;
}

footer .last{
    display: flex;
    gap: 1vw;
    margin: 1vw;
}

.last h2{
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}

.footer-content:nth-child(2){
    border-top: none;
    border-radius: 0px;
    margin-bottom: 5vh;
}

.blogpost-container{
    min-height: 50vh;
    width: 100%;
    background-color: aquamarine;
    /* background-image: url(https://wallpapercave.com/wp/wp10833481.png); */
    background-image: url(https://wallpapercave.com/wp/wp8944358.jpg);
    background-position: center;
    background-size: cover;
}

#blogpost{
    min-height: 100vh;
    margin: 0vh 5vw;
}

#blogpost h2{
    text-align: center;
    text-decoration: underline;
    padding: 1vw;
    font-style: italic;
    text-transform: capitalize;
}

#blogpost h2:nth-child(2){
    text-decoration: none;
}

.blog-text{
    min-height: 80vh;
    width: 100%;
    padding: 1vw 2vw;
}

.blog-text p{
    font-size: 1.2vw;
}

.blog-text h4{
    font-size: 1.5vw;
    margin: 1vw;
    text-decoration: underline;
    text-transform: capitalize;
    font-style: italic;
}